:root {
  --color-tb: #67ae52;
  --color-td: #2ef0dc;
  --color-p: #be694f;
}

.tb-text{
    color: var(--color-tb);
}

.td-text{
    color: var(--color-td);
}

.p-text{
    color: var(--color-p);
}

.project-button {
    border-radius: .5rem;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 1rem;            
    padding: 1rem;       
}

.project-image-box {
    background-color: var(--color-primary);
    border-color: var(--color-secondary-selected);
    border-width: 2px;
    width: 10vh;
    height: 10vh;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; 
}

.project-image {
    width: 80%;
    height: 80%;
    object-fit: contain;
    display: block;
}

.project-title {
    text-align: center;
    font-weight: bold;
    display: block;
    font-size: 3vh;
}

.project-desc {
    text-align: left;
    margin-top: 0.5rem;
    font-size: 2vh;
}
